<?xml version='1.0' encoding='utf-8'?>
<plugin id="info.androidabcd.plugin.custom" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CordovaCustomPlugin</name><js-module name="CordovaCustomPlugin" src="www/CordovaCustomPlugin.js"><clobbers target="cordova.plugins.CordovaCustomPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="CordovaCustomPlugin"><param name="android-package" value="info.androidabcd.plugin.custom.CordovaCustomPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/CordovaCustomPlugin.java" target-dir="src/info/androidabcd/plugin/custom/CordovaCustomPlugin" /></platform></plugin>